<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">새로 추가하기</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">캠핑장 이름</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    유효합니다!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">캠핑장 위치</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    유효합니다!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">캠핑장 가격 (1박당)</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">&#8361;</span>
                    <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        유효합니다!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">캠핑장 설명</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    유효합니다!
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">이미지 업로드</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">추가하기</button>
            </div>
        </form>
        <a href="/campgrounds">모든 캠핑장 페이지로 돌아가기</a>
    </div>
</div>



